@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="bgImage">
        <h1> Investagon </h1>
        <div class="getStarted">The best way to invest? The FUN way.</div>
        <input type="button" class="button-add" />
    </div>
    
</body>
