@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="bgImage">
        <h1> Investagon </h1>
        <div class="getStarted">The best way to invest? The FUN way.</div>
        <a asp-area="" asp-controller="Home" asp-action="SignUp">
            <input type="button" class="button-add" />
        </a>
    </div>

</body>
